<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
	</configSections>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
	</startup>
	<nlog autoReload="false" throwExceptions="false" internalLogLevel="Error" internalLogFile="Logs\nlog-internal.log" xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
		<targets async="true">
			<default-wrapper xsi:type="RetryingWrapper" retryCount="3" retryDelayMilliseconds="5000"/>
			<target xsi:type="File" name="TraceFile" encoding="utf-8" fileName="..\Logs\Aleph1.Logging.Tester.Trace.csv" 
					keepFileOpen="true" concurrentWrites="true"
					archiveAboveSize="50000000" archiveNumbering="DateAndSequence" maxArchiveDays="7"
					archiveFileName="Logs\Archives\{#}.csv" archiveEvery="Day" archiveDateFormat="yyyy-MM-dd">
				<layout xsi:type="CsvLayout" delimiter="Comma">
					<column name="Machine" layout="${machinename}" quoting="Nothing"/>
					<column name="User" layout="${event-properties:item=A1_UserName}" quoting="Nothing"/>
					<column name="Time" layout="${date}" quoting="Nothing"/>
					<column name="Level" layout="${level}" quoting="Nothing"/>
					<column name="Elapsed" layout="${event-properties:item=A1_ElapsedMilliseconds}" quoting="Nothing"/>
					<column name="Class" layout="${event-properties:item=A1_ClassName}" quoting="Nothing"/>
					<column name="Method" layout="${event-properties:item=A1_MethodName}" quoting="Nothing"/>
					<column name="Message" layout="${message}" quoting="All"/>
					<column name="Exception" layout="${event-properties:item=A1_Exception}" quoting="All"/>
					<column name="Parameters" layout="${event-properties:item=A1_Parameters}" quoting="All"/>
					<column name="ReturnValue" layout="${event-properties:item=A1_ReturnValue}" quoting="All"/>
					<column name="Logger" layout="${logger}" quoting="Nothing"/>
				</layout>
			</target>
		</targets>
		<rules>
			<logger name="*" writeTo="TraceFile" minlevel="Trace"/>
		</rules>
	</nlog>
</configuration>