<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Aleph1.Utilities" version="2.0.0" targetFramework="net471" />
  <package id="NLog" version="4.4.12" targetFramework="net471" />
  <package id="PostSharp" version="5.0.45" targetFramework="net471" developmentDependency="true" />
  <package id="PostSharp.Redist" version="5.0.45" targetFramework="net471" />
</packages>